*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: ,Georgia, Times, 'Times New Roman', serif;
  color: var();
  background-color: var(--tertiary);
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

  /* brand color palette */
  :root {
    --primary: #543f52;
    --secondary: #d3c7d5;
    --tertiary: #766174;
    --dark: #281c26;
    --light: #F0E8F3;
  }


header{
  padding: 20px ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--secondary);
}

header h1{
  color: var(--tertiary);
  background-color: var(--dark);
  padding: 8px 4% 8px 4%;
  font-size: 40px;
  line-height: 1;
}

.header-img{
width: 100%;
}


nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

nav a {
  text-decoration: none;
  font-size: larger;
  padding: 5px 10px;
  color: var(--dark);
  margin-right: 10px;
}

main{ 
  margin-top:20px;
  margin-bottom: 45px;
  text-align: center;
}

.header-img2{
  border: 2px black solid;
  width: 30%;
}


