*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: var();
  background-color: var(--light);
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

  /* color palette */
  :root {
    --primary: #543f52;
    --secondary: #d3c7d5;
    --tertiary: #766174;
    --dark: #281c26;
    --light: #F0E8F3;
  }


header{
  padding: 20px ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--secondary);
}

header h1{
  color: var(--tertiary);
  background-color: var(--dark);
  padding: 8px 4% 8px 4%;
  font-size: 40px;
  line-height: 1;
}

.header-img{
width: 100%;
}


nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

nav a {
  text-decoration: none;
  font-size: larger;
  padding: 5px 10px;
  color: var(--dark);
  margin-right: 10px;
}

main{ 
  margin-top:20px;
  margin-bottom: 45px;
  text-align: center;
}

main p{
  font-size: 20px;
  color: #281c26;
  background-color:var(--secondary);
  text-align: center;
  margin-right: 20%;
  margin-left: 20%;
}

h2{
  font size: 22px;
  color: var(--primary);
  font-family: Georgia, Times, 'Times New Roman', serif;
  background-color: var(--secondary);
  text-align: center;
  border: darkgrey 2px solid;
  max-width: 20%;
  margin: 0 0 2% 40%;
  }

.header-img2{
  border: 2px darkgrey solid;
  width: 30%;
  border-radius: 15px;
  box-shadow: 25, 20, 10;

}

/* Work images/links */
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.item {
  background-image: url(./images/bw_lights.jpeg);
  border: 3px solid var(--secondary);
  background-color: var(--primary);
  color: var(--tertiary);
  min-height: 200px;
  max-height: 100px;
  max-width: 35%;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: center;
  padding: 0 0 10px 0;
  margin: .5em;
  background-blend-mode: soft-light;
  background-size: 100%;
  transition: all 0.5s;
  font-size: 0.9rem;
  border-radius: 60px;
}

.item:first-child {
  min-height: 300px;
  flex-basis: 80%;
  border-radius: 70px;
}

.item:hover {
background-image: url(./images/hero.bg.jpeg);
}

.item div {
background-color: var(--secondary);
padding: 10px 10px;
}

.item h3 {
font-size: 1.1rem;
}



/*footer*/
 
footer h3{
  font size: 80px;
  padding: 4px;
  color: var(--primary);
  font-family: Georgia, Times, 'Times New Roman', serif;
  background-color: var(--secondary);
  text-align: center;
  border: darkgrey 2px solid;
  max-width: 20%;
  margin: 2% 0 2% 40%;
}

footer {
  font-size: 20px;
  text-align: center;
  color: #281c26;
  background-color: var(--primary);
}

footer a{
  background-color: var(--light);
}


/*media quesries*/
@media screen and (max-width: 768px) {
  .flex-item,
  .flex-item:first-child {
    flex-basis: 100%;
  }

  @media screen and (max-width: 980px) {
    header {
      padding: 0 0 10px 0;
      justify-content: center;
      text-align: center;
    }