*{
  box-sizing: border-box;
}

body{

}

  /* color palette */
  :root {
    --primary: #d4bf61;
    --secondary: #abc2ba;
    --tertiary: #e4b359b6;
    --dark: #4d2919ab;
    --light: #b3ada9;
  }

.hero-image {
  background-color: black;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-container {
  font-size: 35px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: 'Abril Fatface', cursive;
}

.hero-container span {
  color: white;
  text-transform: uppercase;
  display: block;

}

.text-1 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  background: black;
  position: relative;
  animation: text 3s 1;
}

.text-2 {
  font-size: 25px;
  color: rgb(206, 116, 131);
}

a {
  color: rgb(182, 84, 157);
}

@keyframes text {
  0%{
    color: black;
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85%{
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}



/* .hero-text a {
  font-family: 'Abril Fatface', cursive;
  font-size: larger;
  padding: 5px 10px;
  color: rgb(232, 245, 49);
  text-align: justify;
} */



main{ 
  margin-top:20px;
  margin-bottom: 45px;
  text-align: center;
}

main p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  color: #281c26;
  background-color: rgb(182, 84, 157);
  text-align: center;
  margin-right: 20%;
  margin-left: 20%;
}

h2 {
  font-size: 20px;
  color: white;
  font-family: 'Abril Fatface', cursive;
  background-color: black;
  text-align: center;
  border: darkgrey 2px solid;
  max-width: 20%;
  margin: 0 0 1% 40%;
} 

img {
  margin-left: 15px;
  border-radius: 200px;
  width: 20%;
  height: 25%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url(./images/hero.bg.jpeg);
}

.flex-item:hover {
  background-image: url(./images/hero.bg.jpeg);
  }

.flex-item1 {
  background-image: url(./images/bustamovie.png);
  border: 2px solid black;
  background-color:rgba(182, 84, 158, 0.459);
  color: rgb(182, 84, 157) ;
  min-height: 250px;
  max-height: 250px;
  max-width: 25%;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  padding: 0 0 40px 0;
  margin: 1;
  background-blend-mode: soft-light;
  background-size: 100%;
  transition: all 0.5s;
  font-size: 0.9rem;
}
.flex-item2 {
  background-image: url(./images/planner.png);
  border: 2px solid black;
  background-color: rgba(182, 84, 158, 0.493);
  color: black ;
  min-height: 250px;
  max-height: 250px;
  max-width: 25%;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  padding: 0 0 40px 0;
  margin: 1;
  background-blend-mode: soft-light;
  background-size: 100%;
  transition: all 0.5s;
  font-size: 0.9rem;
}
.flex-item3 {
  background-image: url(./images/passwordgen.png);
  border: 2px solid black;
  background-color: rgba(182, 84, 158, 0.39);
  color: rgb(182, 84, 157) ;
  min-height: 250px;
  max-height: 250px;
  max-width: 25%;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  padding: 0 0 40px 0;
  margin: 1;
  background-blend-mode: soft-light;
  background-size: 100%;
  transition: all 0.5s;
  font-size: 0.9rem;
}


.flex-item h3 {
font-size: 1.4rem;
}

.flex-item:last-child {
  min-height: 300px;
  flex-basis: 100%;
}
 
footer h3{
  color: rgb(182, 84, 157);
  font size: 40px;
  padding: 4px;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  border: darkgrey 1px solid;
  max-width: 20%;
  margin: 2% 0 2% 40%;
}



footer {
  font-size: 20px;
  text-align: center;
  color: ;
  background-color: black;
}

/* /* footer a{
  text
  background-color: var(--light);
} */  


/*media quesries*/
@media screen and (max-width: 768px) {
  .flex-item,
  .flex-item:first-child {
    flex-basis: 100%;
  }

  @media screen and (max-width: 980px) {
    header {
      padding: 0 0 10px 0;
      justify-content: center;
      text-align: center;
    }